
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/BBB00847/sources/s-4ED5958C/lock_file
.Rproj.user/BBB00847/sources/s-4ED5958C/99ED72B2-contents
.Rproj.user/BBB00847/sources/s-4ED5958C/99ED72B2
.Rproj.user/BBB00847/sources/prop/INDEX
.Rproj.user/BBB00847/sources/prop/325E7CA
.Rhistory
*.aux
*.pper
.Rproj.user/BBB00847/rmd-outputs
.Rproj.user/BBB00847/saved_source_markers
.Rproj.user/BBB00847/sources/prop/C516EA5D
.Rproj.user/shared/notebooks/DCED63A-r.syntheticNYC/1/s/chunks.json
.Rproj.user/BBB00847/sources/s-34391A21/ECBA16
.Rproj.user/BBB00847/sources/s-34391A21/ECBA16-contents
.Rproj.user/BBB00847/sources/s-34391A21/lock_file
.Rproj.user/shared/notebooks/867F3776-r/1/s/chunks.json
.Rproj.user/shared/notebooks/867F3776-r/1/BBB0084734391A21/chunks.json
