
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/BBB00847/sources/s-4ED5958C/lock_file
.Rproj.user/BBB00847/sources/s-4ED5958C/99ED72B2-contents
.Rproj.user/BBB00847/sources/s-4ED5958C/99ED72B2
.Rproj.user/BBB00847/sources/prop/INDEX
.Rproj.user/BBB00847/sources/prop/325E7CA
.Rhistory
